html{
  font-size: 18px;
  line-height: 1.4;
}
body{
  width: 960px;
}
header{
  display: inline-block;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}
.container{
  width: 960px;
  margin: auto;
}
.headbanner{
  background-color: cadetblue;
  color: white;
  display: flex;
}
.logo{
  display: flex;
  width: 960px;
  height: 1.5rem;
  align-items: baseline;
}
.logo img{
  height: 1.5rem;
  padding-left: 2rem;
  align-content: center;
}
.logo span{
  padding: 1rem
}
nav{
  display: flex;
}
nav span{
  padding: 1rem 2rem;
}
.mainbanner{
  display: inline-block;
  justify-content: flex-end;

}
.motto{
  display: inline-block;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;

}
header .flex{
  justify-content: flex-end;
}
.flex{
  display: flex;
}
.motto span{
  align-items: center;
}
